<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="containers">
        <h1>
            <%= title %>
        </h1>
        <a href="/register" class="btn btn-success">Add Doctor</a>


        <% if (action==='add' ) { %>

            <% } else { %>
                <div class="display-header">
                    <div class="row">

                    </div>
                </div>
                <div class="display-header">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                    <th>Date of Birth</th>
                                    <th>Phone</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (patients_list.length > 0) { 
        patients_list.forEach(function(patients) { %>
                                    <tr>
                                        <td>
                                            <%=patients.first_name %>
                                        </td>
                                        <td>
                                            <%=patients.last_name %>
                                        </td>
                                        <td>
                                            <%=patients.email %>
                                        </td>
                                        <td>
                                            <%=patients.date_of_birth %>
                                        </td>
                                        <td>
                                            <%=patients.phone %>
                                        </td>
                                        <td>
                                            <%=patients.gender %>
                                        </td>
                                        <td>
                                            <%=patients.address %>
                                        </td>

                                        <td>
                                            <div class="action-buttons">
                                                <a href="/patients/edit/<%= patients.patient_id %>" class="btn btn-primary btn-sm">Edit</a>
                                                <!-- Delete link -->
                                                <a href="/patients/edit/<%= patients.patient_id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this doctor?');">
            Delete
        </a>


                                            </div>
                                        </td>
                                    </tr>
                                    <% }) 
    } else { %>
                                        <tr>
                                            <td colspan="8">No Data Found</td>
                                        </tr>
                                        <% } %>
                            </tbody>

                        </table>
                    </div>
                </div>
                <% } %>
    </div>
</body>

</html>